        .BackgroundProfile {
            background: linear-gradient #e66465, #9198e5;
        }
        
        .h1Profile {
            color: white;
            font-size: 3em;
            margin: 1.5rem auto
        }
        
        .paraProfile {
            text-align: center;
            font-size: 1.5em;
            color: white;
            padding-left: 20px;
            padding-right: 20px;
        }
        
        .paraProfile2 {
            text-align: center;
            font-size: 1em;
            color: white;
            padding-left: 20px;
            padding-right: 20px;
        }
        
        textarea {
            width: 300px;
            height: 200px;
            resize: none;
            margin-bottom: 100px;
        }
        
        .Form {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        
        .separtor {
            width: 70%;
        }