@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@800&display=swap');
.Avatar {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    color: #7389f7;
    font-family: 'Nunito', sans-serif;
    font-size: 2em;
}

.Align {
    display: flex;
    justify-content: center;
    align-items: center;
}

.LabelNickname {
    height: 30px;
    display: flex;
    align-items: center;
    background-color: #7389f7;
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: auto;
    border-style: double;
    border-color: #e0f2f6;
}

.LabelNickname:hover {
    box-shadow: 10px 5px 5px yellow;
}

.EnterNickName {
    color: white;
    font-family: 'Nunito', sans-serif;
    text-transform: uppercase;
    font-size: 14px;
}

figure {
    background-repeat: no-repeat;
    padding-top: 15px;
    margin-left: 0;
    margin-right: 0;
    height: 250px;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Circle {
    width: 170px;
    height: 170px;
    border-radius: 50%;
    opacity: 1;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

.Circle:hover {
    opacity: 0.5;
}

p {
    text-align: center;
    font-family: 'Nunito', sans-serif;
    color: #7389f7;
    padding-left: 20px;
    padding-right: 20px;
}

.ButtonLeft {
    height: 40px;
    width: 40px;
    background: url('https://api.iconify.design/dashicons:arrow-left-alt2.svg?color=%2377ECBA') no-repeat center center / contain;
}

.ButtonRight {
    height: 40px;
    width: 40px;
    background: url('https://api.iconify.design/dashicons:arrow-right-alt2.svg?color=%2377ECBA') no-repeat center center / contain;
}

input {
    background-color: #77ecba;
}