.Profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.BackgroundProfile {
    background-color: white;
}

.h1Profile {
    color: fuchsia;
    font-size: 3em;
}

.paraProfile {
    text-align: center;
    font-size: 1.5em;
    color: fuchsia;
    padding-left: 20px;
    padding-right: 20px;
}

textarea {
    width: 400px;
    height: 200px;
    resize: none;
}

.Form {
    display: flex;
    flex-direction: column;
    align-items: center;
}